@model FormIdModel

<form asp-controller="Home" asp-action="Approve" method="post" class="form-inline">
    <input asp-for="Id" type="hidden"/>
    <button type="submit" class="btn btn-success">Approve</button>
</form>